@charset "utf-8";
/* CSS Document */
h3{
	color:#c6d699;
	bacdground-color:#8d6ba8;
	font-family:verdana;
	font-size:16pt;
	}
	.bod{
		color:#731224;
		font-family:verdana;
		font-size:11pt;
		font-weight:bold;
		
		}
		

